[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = ">=3.5.3"
django-model-utils = ">=2.6"
Django = ">=1.10.8"
"psycopg2" = ">=2.7.4"

[dev-packages]
"flake8" = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-echo = "*"
pytest-pythonpath = "*"
factory_boy = "*"

[requires]
python_version = "3.6"
